.profile__name {
    padding: 0;
    margin: 0;
    display: inline;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    overflow-wrap: anywhere;
    outline: none;
}

@media screen and (max-width: 767px) {
    .profile__name {
        font-size: 27px;
        line-height: 33px;
    }
}